.container-page {
  margin-inline: auto;
  max-width: 1152px;
  padding-inline: 1rem;
}

.header-desktop-nav {
  display: none;
}

.header-mobile-toggle {
  display: inline-flex;
}

.header-mobile-menu {
  display: block;
}

@media (min-width: 1024px) {
  .header-desktop-nav {
    display: block;
  }

  .header-mobile-toggle,
  .header-mobile-menu {
    display: none;
  }
}

@media (min-width: 640px) {
  .container-page {
    padding-inline: 1.5rem;
  }
}

@media (min-width: 768px) {
  .container-page {
    padding-inline: 2rem;
  }
}

.section {
  padding-block: 3rem;
}

@media (min-width: 768px) {
  .section {
    padding-block: 4rem;
  }
}
